# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Django database
db.sqlite3

# Environment variables / secrets
.env
.env.*

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db